body {
	background: #0f1621;
	padding: 1%;
}

.navbar-brand {
	padding: 5px;
}

.navbar-brand img {
	width: 40px;
}

.btn-primary {
	background: linear-gradient(rgb(208,68,43), rgb(125,20,22));
	border: 1px solid rgb(208,68,43);
	transition: all linear 0.5s;
	width: 200px;
	margin: 10px;
}

.btn-primary:hover {
	background: linear-gradient(rgba(208,68,43,0.5), rgba(125,20,22,0.5));
	border: 1px solid rgb(125,20,22);
}

.button-div {
	width: 100%;
	padding: 1%;
}
	
.header {
	text-align: center;
	padding: 20px;
}

.header img {
	width: 30%;
}

.content {
	width: 80%;
	margin: 0 auto;
}
div#map {
	width: 80%;
	height: 700px;
	margin: 50px auto; 
}

.search-bar {
	margin-bottom: 20px;
}

.search-info {
	margin-bottom: 20px;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

.center {
	text-align: center;
}

div.col iframe {
	margin: 0 auto;
}



/*div.ui, div.nav{
	background: #0f1621;
}*/